.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.syle{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.positif{
  border-radius: 10px;
  background-color: rgb(250, 193, 7);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
}
.sembuh {
  border-radius: 10px;
  background-color: rgb(226, 50, 27);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
  }

.mati{
  border-radius: 10px;
  background-color: rgb(33, 202, 27);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
}

.indo{
  border-radius: 10px;
  background-color: rgb(7, 168, 160);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
}
.pos{
  border-radius: 10px;
  background-color: rgb(250, 193, 7);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
}
.sem{
  border-radius: 10px;
  background-color: rgb(221, 32, 18);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
}

.mening{
  border-radius: 10px;
  background-color: rgb(15, 250, 7);
  min-height: 10vh;
  display: -moz-inline-stack;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  color: rgb(250, 250, 250);
  width: 90px;
  padding-top: 15px;
}

.provinsi{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}